<div id="top"></div>
<div class="container">
  <form [formGroup]="enrollForm" (ngSubmit)="onSubmit()">
    <h2>Join Availity</h2>
    <p class="form-group">
      <label for="Firstname" class="floatLabel">Firstname</label>
      <input
        [class.is-invalid]="
          enrollForm.get('firstname')!.invalid &&
          enrollForm.get('firstname')!.touched
        "
        id="firstname"
        name="firstname"
        type="text"
        class="form-control"
        formControlName="firstname"
      />
      <small
        *ngIf="
          enrollForm.get('firstname')!.invalid &&
          enrollForm.get('firstname')!.touched
        "
        class="text-danger"
      >
        Firstname is required
      </small>
    </p>
    <p>
      <label for="Lastname" class="floatLabel">Lastname</label>
      <input
        [class.is-invalid]="
          enrollForm.get('lastname')!.invalid &&
          enrollForm.get('lastname')!.touched
        "
        id="lastname"
        name="lastname"
        type="text"
        formControlName="lastname"
      />
      <small
        *ngIf="
          enrollForm.get('lastname')!.invalid &&
          enrollForm.get('lastname')!.touched
        "
        class="text-danger"
      >
        Lastname is required
      </small>
    </p>
    <p>
      <label for="npiNumber" class="floatLabel">NPI Number</label>
      <input
        [class.is-invalid]="
          enrollForm.get('npiNumber')!.invalid &&
          enrollForm.get('npiNumber')!.touched
        "
        id="npiNumber"
        name="npiNumber"
        type="text"
        formControlName="npiNumber"
      />
      <small
        *ngIf="
          enrollForm.get('npiNumber')!.invalid &&
          enrollForm.get('npiNumber')!.touched
        "
        class="text-danger"
      >
        NPI Number is required
      </small>
    </p>
    <p class="form-group">
      <label for="line1" class="floatLabel">Address line</label>
      <input
        [class.is-invalid]="
          enrollForm.get('line1')!.invalid && enrollForm.get('line1')!.touched
        "
        id="line1"
        type="text"
        class="form-control"
        formControlName="line1"
      />
      <small
        *ngIf="
          enrollForm.get('line1')!.invalid && enrollForm.get('line1')!.touched
        "
        class="text-danger"
      >
        Please, enter a valid zip code.
      </small>
    </p>
    <p class="form-group">
      <label for="city" class="floatLabel">City</label>
      <input
        [class.is-invalid]="
          enrollForm.get('city')!.invalid && enrollForm.get('city')!.touched
        "
        id="city"
        type="text"
        class="form-control"
        formControlName="city"
      />
      <small
        *ngIf="
          enrollForm.get('city')!.invalid && enrollForm.get('city')!.touched
        "
        class="text-danger"
      >
        Please, enter a city.
      </small>
    </p>
    <p class="form-group">
      <label for="state" class="floatLabel">State</label>
      <select id="state" class="form-control" formControlName="state">
        <option></option>
        <option *ngFor="let state of states">{{ state }}</option>
      </select>
    </p>
    <p class="form-group">
      <label for="zipcode" class="floatLabel">Zip code</label>
      <input
        [class.is-invalid]="
          enrollForm.get('zipcode')!.invalid &&
          enrollForm.get('zipcode')!.touched
        "
        id="zipcode"
        type="text"
        class="form-control"
        formControlName="zipcode"
      />
      <small
        *ngIf="
          enrollForm.get('zipcode')!.invalid &&
          enrollForm.get('zipcode')!.touched
        "
        class="text-danger"
      >
        Please, enter a valid zip code.
      </small>
    </p>
    <p>
      <label for="phonenumber" class="floatLabel">Phone</label>
      <input
        id="phonenumber"
        name="phonenumber"
        type="tel"
        formControlName="phonenumber"
      />
      <small
        *ngIf="
          enrollForm.get('phonenumber')!.invalid &&
          enrollForm.get('phonenumber')!.touched
        "
        class="text-danger"
      >
        Required format: 1234567890 or (123)123456.
      </small>
    </p>
    <p>
      <label for="email" class="floatLabel">Email</label>
      <input id="email" name="email" type="email" formControlName="email" />
      <small
        *ngIf="
          enrollForm.get('email')!.invalid && enrollForm.get('email')!.touched
        "
        class="text-danger"
      >
        Please enter a valid email address.
      </small>
    </p>
    <p>
      <button
        [disabled]="!enrollForm.valid"
        class="btn btn-primary"
        type="submit"
      >
        Submit
      </button>
    </p>
    <p *ngIf="showMessage">
      <strong>Registration Successful!</strong> Please click
      <a [routerLink]="['/enrollees']" routerLinkActive="router-link-active"
        >here</a
      >
      to to view members.
    </p>
  </form>
</div>
